@CHARSET "UTF-8";

#contents {
	margin: 10px 0 0 0;
}

#top select{
	margin: 0 0 0 85px;
}

.btnArea {
	margin: 0 auto;
}

.emptySeat {
	background-image: url("../image/emptySeat.PNG");
	width: 9px;
	height: 9px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.selectedSeat {
	background-image: url("../image/selectedSeat.PNG");
	width: 8px;
	height: 8px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	position: absolute;
}

.fillSeat {
	background-image: url("../image/fillSeat.PNG");
	width: 8px;
	height: 8px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	position: absolute;
}

.theater {
	background-image: url("../image/theater.png");
	width: 165px;
	height: 105px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	position: relative;
}

#btnFinish {
	background-image: url("../image/btnFinish.png");
	width: 165px;
	height: 105px;
}
